HILO_HOST=https://ADDRESS_OF_YOUR_HOST
HILO_USER=SOME_USERNAME
HILO_PASS=SOME_PASSWORD

# Set the iLO version (e.g., 2, 3, or 4). Default is 4.
# Setting to 2 or 3 will skip the REST API auto-login and lower Java security restrictions.
ILO_VERSION=4
